.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    max-width: 100%;
    height: auto;
        object-fit: cover; 
        opacity: 0.8;
}

.main{
    background-color: rgb(58, 104, 230);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.main:hover {
    background-color: black;
    color: white;
  }

  .Input{
    background: #fffdfd;
    background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    border: #f8f8f8 solid 5px;
    height: 50px;
    width: 550px;
    gap: 200px;
  }
  .continue{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 10%;
    padding: 10px;
  }
  .continue:hover {
    background-color: rgb(53, 128, 185);
    color: white;
  }
  .terms{
   color: rgb(255, 255, 255);
   position: relative;
   left: 150px;
  }
  .agree{
    position: relative;
    left: 600px;
    top: 50px;
    color: rgb(0, 0, 0);
  }
  .handlecheck{
  position: relative;
  top: 25px;
  }
  .handlecheck:hover{
    cursor: pointer;
    background-color: rgb(53, 128, 185);
    color: #f8f8f8;
  }
  #checkbox{
    position: relative;
    bottom: 15px;
    left: 80px;
  }
  .para{
    position: relative;
    left: 200px;
  }
  .head{
    color: #f8f8f8;
    position: relative;
    left: 350px;
  }
  .head2{
    display: flex;
    color: #f8f8f8;
    position: relative;
    left: 300px;
  }
  .head3{
    display: flex;
    color: #f8f8f8;
    position: relative;
    left: 400px;
  }
  .head4{
    display: flex;
    color: #f8f8f8;
    position: relative;
    left: 400px;
  }